* {
  box-sizing: border-box;
  font-size: 2.8vmin;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

.cardgame {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.cardgame>* {
  text-align: center;
  align-items: center;
}

.cardgame-left {
  height: 100vh;
  width: 200px;
  display: flex;
  justify-content: center;
}

.cardgame-centre {
  flex: 1;
}

.cardgame-right {
  height: 100vh;
  width: 200px;
  display: flex;
  justify-content: center;
}

.instructions>* {
  display: block;
}

.score>* {
  display: block;
}

.table>* {
  display: block;
}

.table-pile>* {
  display: inline-block;
  text-align: center;
}

.player>* {
  display: inline-block;
  text-align: center;
}

.arrange-vertically>* {
  display: block;
}

.card {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3.2vmin;
  font-weight: bold;
  line-height: 3.2vh;
  height: 14vh;
  width: 7vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}